.measurement-tile {
    background-color: #2f3542;
    text-align: center;
    color: white;
    border: none;
    transition: all .1s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition-property: transform, box-shadow;

}
.measurement-tile:hover {
    transform: scale(1.1, 1.1);
    z-index: 1;
    box-shadow: 5px 5px 5px rgba(20,20,20,.2);
}
.measurement-tile--disabled {
    background-color: grey;

}
.measurement-tile.measurement-tile--disabled:hover {
    transform: none;
    box-shadow: none;
    cursor: not-allowed;
}

.measurement-tile.measurement-tile--selected {
    background-color: #ffa502;
    text-shadow: 2px 2px 5px rgba(20,20,20,.1);
}
.measurement-tile--value {
    font-size: x-large;
}