.measurement-tile {
    background-color: #2f3542;
    text-align: center;
    color: white;
    border: none;
    transition: all .1s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition-property: transform, box-shadow;

}
.measurement-tile:hover {
    transform: scale(1.1, 1.1);
    z-index: 1;
    box-shadow: 5px 5px 5px rgba(20,20,20,.2);
}
.measurement-tile--disabled {
    background-color: grey;

}
.measurement-tile.measurement-tile--disabled:hover {
    transform: none;
    box-shadow: none;
    cursor: not-allowed;
}

.measurement-tile.measurement-tile--selected {
    background-color: #ffa502;
    text-shadow: 2px 2px 5px rgba(20,20,20,.1);
}
.measurement-tile--value {
    font-size: x-large;
}

.hive-selector {
    margin: 2em 0;
}

.large-select {
    color: white;
    background-color: #2f3542;
    margin: 0 1em;
    font-size: 1.25em;
    border: none;
    border-radius: 1000px;
    padding: .2em .35em;
}

.large-select:focus {
    outline: none;
    box-shadow: 0 0 0 2px dodgerblue;
}

.hive-select-placeholder {
    margin-left: 0.5em;
}