.cluster-manager__subheading {
    text-align: left;
    margin-top: 0;
}

.cluster-manager:first-child {
    margin-top: 2em;
}

.cluster-manager {
    box-shadow: 0 0.5em 0.5em #d3d3d3;
    margin-bottom: 1.3em;
    padding: 1em 2em;
}

.cluster-manager__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #00aced;
    margin: 0;
}

.cluster-manager__head .btn {
    background-color: #00aced;
}

.cluster-manager__subheading {
    margin-top: 0;
}

.cluster-owner-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hive-badge {
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: center;
}

.hive-badge .btn:first-child{
    margin-left: auto;
}

.cluster-manager__body {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.cluster-manager__body__list {
    padding-left: 0;
}

.location-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.vertical-label {
    display: flex;
    flex-direction: column;
}

.btn {
    background: #00aced;
    color: white;
    padding: 5px 10px;
    margin: 3px;
    border: none;
    border-radius: 1000px;
    cursor: pointer;
    -moz-outline-radius: 1000px;
}

.btn.btn--dark {
    background-color: #2f3542;
}