.cluster-manager__heading {
    text-align: left;
    margin-top: 0;
}

.cluster-manager {
    box-shadow: 2px 2px 5px rgba(20,20,20,.2);
}

@media (min-width: 992px) {
    .cluster-manager__heading {
        text-align: right;
    }
}