#HeaderNav-container{
  display:inline-flex;
  width:100%;
}
.nav-container{
  padding-right:1em;
  display:inline;
}
.nav-bar {
  text-align: right;
  margin:15px 15px auto auto;
 
}
#header {
  display:inline-block;
  font-size: 2em;
  padding:10px 0 10px 5px ;
}
#nav-list{
  display:inline-block;
}

.nav-element{
  color:black;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
}
.nav-element:hover{
  color:rgba(0, 0, 0, 0.5);
}

.nav-element i{
  padding-right:5px;
  height: 100%;
}
#dropdown-btn{
  display:none;
}
.displaynone{ 
 display:none !important;
}

@media only screen and (max-width: 900px) {
#dropdown-btn{
  display: inline-block;
}
 #nav-list{
  display:none;
  padding:0 10px 10px 10px;
  background-color:rgba(246,246,246,1);
  border: 1px solid rgba(240, 240, 240, 1);
  border-radius:10px;
}
.nav-container{
  display:block;
  padding-top:5px;
}

}