body, html, #root {
    background-color:#f8fafb;
    margin:0;
    font-family: 'Montserrat', sans-serif;
}
.text-center {
   text-align: center;
}
.row-center {
    display: flex;
    justify-content: center;
}
.btn {
    background: #2f3542;
    color: white;
    padding: 10px 15px;
    margin: 3px;
    border: none;
    border-radius: 1000px;
    cursor: pointer;
}
input {
    margin: 3px;
    padding: 5px;
}
.orange {
    color:#ffa502;
}
.white {
    color:#f1f2f6;
}
.black {
    color:#2f3542
}